/* Custom scrollbar for the card content */
.custom-scrollbar {
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #f0f0f0 transparent; /* Color of scrollbar */
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px; /* Width of the scrollbar */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #ebebeb; /* Color of the scrollbar thumb */
    border-radius: 3px; /* Rounded corners for the thumb */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #d3d3d3; /* Darker shade when hovering */
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent; /* Track background */
  }
  